<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label>Name: </label>
        <input name="name">
        <label>Price: </label>
        <input name="price">
        <input type="submit", value = "Submit">
    </form>

    <table bored ="1000",class="table table-brodered", backround = "black.jpg">
        <tr align="center", bgcolor="yellow">
            <th width ="50" >FOOD</th>
            <th width ="50">PRICE</th>
        </tr>
        {% for food in FOODS %}
        <tr>
            <td>{{food.name}}</td>
            <td>{{food.price}}$</td>
            <td><a href="/delete/{{food.id}}"> delete </a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>